<div class = "container-fluid" style= "padding: 80px 0 0 0; text-align:center">
  <div class = "jumbotron">
    <div class = "panel panel-info" style = "display:inline-block; padding: 20px 20px 20px 20px">
		<h1>New Post</h1>

		<%= render 'form' %>
		 <br>
		<%= link_to 'Back', posts_path, class: "btn btn-default" %>
		</div>
	</div>
</div>

